
# Eclipse
.classpath
/.classpath/
.project
/.project/
.settings/
/.settings/

# Intellij
.idea/
/.idea/
*.iml
/*.iml/
*.iws
/*.iws/

# Mac
.DS_Store
/.DS_Store/

# Maven
# log/
target/
build/

# Gradle
.gradle/
build/
bin/

# Others
.checkstyle/
.checkstyle
.fbExcludeFilterFile
.fbExcludeFilterFile/

release/
logs/
